$minHeight: 1;
$maxHeight: 100;

@for $i from $minHeight through $maxHeight {
    $perc: $i * 1%;

    .height-#{$i} {
        min-height: #{$perc};
        max-height: #{$perc};
    }

    .col-#{$i} {
        flex: 0 0 #{$perc};
        max-width: #{$perc};
    }
}

.row-content-center {
  justify-content: center;
}

.row-content-end {
  justify-content: flex-end;
}
