{
  "extends": [
    "airbnb/base",
    "angular"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "wrap-iife": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "padded-blocks": 0,
    "comma-dangle": [2, "never"],
    "spaced-comment": 0,
    "no-console": 0,
    "angular/log": 0
  }
}
