<md-dialog nv-file-drop uploader="$ctrl.uploader">
  <md-dialog-content class="md-dialog-content">

    <h2 class="md-title">Upload Music</h2>

    <md-progress-linear ng-show="$ctrl.uploader.isUploading" md-mode="determinate" ng-value="$ctrl.uploader.progress"></md-progress-linear>

    <form name="$ctrl.item.form" ng-submit="$ctrl.addMusic()">
      <div layout="column" class="input-row">

        <div layout="row" class="input-row">
          <md-input-container>
            <label>Title</label>
            <input name="title" ng-model="$ctrl.music.title" md-maxlength="30" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.title.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Album</label>
            <input name="album" ng-model="$ctrl.music.album" md-maxlength="30" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.album.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" class="input-row">
          <md-input-container>
            <label>Artist</label>
            <input name="artist" ng-model="$ctrl.music.artist" md-maxlength="30" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.artist.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Genre</label>
            <input name="genre" ng-model="$ctrl.music.genre" md-maxlength="30" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.genre.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" class="input-row">
          <md-input-container>
            <label>Start Time</label>
            <input name="start" type="number" ng-model="$ctrl.music.start" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.start.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>End time</label>
            <input name="end" type="number" ng-model="$ctrl.music.end" ng-disabled="$ctrl.uploader.isUploading" required>
            <div ng-messages="$ctrl.item.form.end.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container>
          <label>Description</label>
          <textarea rows="4" name="description" ng-model="$ctrl.music.description" md-maxlength="120" ng-disabled="$ctrl.uploader.isUploading" required>
          </textarea>
          <div ng-messages="$ctrl.item.form.description.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <label ng-hide="$ctrl.uploader.queue.length" for="input-file" class="md-button md-raised">Select File</label>
        <label ng-show="$ctrl.uploader.queue.length && !$ctrl.uploader.isUploading" for="input-file" class="md-button md-raised">Change File</label>
        <input id="input-file" ng-hide="true" accept="audio/mpeg" type="file" nv-file-select uploader="$ctrl.uploader"/>

        <md-input-container>
          <label>File</label>
          <input id="fileInput" name="file" ng-model="$ctrl.uploader.queue[0].file.name" disabled required>
          <div ng-show="$ctrl.invalid" ng-messages role="alert">
            <ng-message ng-show="$ctrl.invalid.extension">
              The file must be 'mp3' or 'wav'.
            </ng-message>
            <ng-message ng-show="$ctrl.invalid.size">
              This file is too big.
            </ng-message>
          </div>
        </md-input-container>

      </div>
    </form>

  </md-dialog-content>

  <md-dialog-actions ng-if="!$ctrl.uploader.isUploading">
    <md-button class="md-primary" ng-click="$ctrl.addMusic()" ng-disabled="$ctrl.item.form.$invalid">Upload</md-button>
    <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
  </md-dialog-actions>

  <md-dialog-actions ng-if="$ctrl.uploader.isUploading">
    <md-button class="md-primary" ng-click="$ctrl.cancelUpload()">Cancel Upload</md-button>
  </md-dialog-actions>

</md-dialog>
